* {
    margin: 0;
}

@font-face {
    font-family: myfont2;
    src: url(Glitch\ inside.otf);
}

@font-face {
    font-family: myfont;
    src: url(Knewave-Regular.ttf);
}

html,
body {
    background-color: white;
    background: url(https://media.giphy.com/media/UYBDCJjwOd9Re/giphy.gif) no-repeat center center fixed;
    background-size: cover;
}

#myvideo {
    width: 24%;
    height: 27%;
    float: right;
    border: thin black 5px;
    border-radius: 10%;
}

#top-bar {
    display: grid;
    grid-template-columns: 200px 250px 1fr 130px 50px;
    grid-template-rows: 80px;
    grid-template-areas: " . . Overclock Checkout Shoppingcart";
}

h1 {
    font-family: myfont;
    color: lightblue;
    font-size: 3rem;
    overflow: auto;
    grid-area: Overclock;
}

.buttons {
    grid-area: Checkout;
}

#checkout-button {
    padding: 10px;
    font-family: myfont2;
    font-size: 17px;
    color: lightblue;
    background: transparent;
    border: transparent;
    justify-self: right;
    align-self: center;
    grid-area: Checkout;
}

#shoppingcart {
    height: 40px;
    width: 40px;
    justify-self: left;
    align-self: center;
    grid-area: Shoppingcart;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 12%;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: myfont2;
}

li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

a:link {
    color: lightblue;
    text-decoration: none;
}

a:visited {
    color: lightblue;
    text-decoration: none;
}

a:active {
    color: lightblue;
    text-decoration: none;
}

a:hover {
    background-color: mediumpurple;
    border-radius: 1rem;
}

#catalog {
    color: lightblue;
    font-family: myfont;
    display: grid;
    grid-template-columns: 200px 800px 200px;
    grid-template-rows: 165px;
    grid-template-areas: "blank text";
}

.Build-selector {
    align-self: flex-end;
    justify-self: center;
    font-size: 2rem;
    grid-area: text;
}

#catalog-images {
    display: grid;
    grid-template-columns: 200px 300px 280px 300px;
    grid-template-rows: 220px;
    grid-template-areas: ". intel amd laptop";
    padding: 10px;
}

.intel {
    height: 200px;
    width: auto;
    grid-area: intel;
}

.amd {
    height: 200px;
    align-self: center;
    grid-area: amd;
}

.laptop {
    height: 200px;
    grid-area: laptop;
}

#catalog-buttons {
    display: grid;
    grid-template-columns: 180px 300px 280px 300px;
    grid-template-areas: ". intelbttn amdbttn laptopbttn";
}

.intel-bttn {
    background: transparent;
    border: none;
    font-family: myfont;
    font-size: 18px;
    color: lightblue;
    grid-area: intelbttn;
}

.amd-bttn {
    background: transparent;
    border: none;
    font-family: myfont;
    font-size: 18px;
    color: lightblue;
    grid-area: amdbttn;
}

.laptop-bttn {
    background: transparent;
    border: none;
    font-family: myfont;
    font-size: 18px;
    color: lightblue;
    grid-area: laptopbttn;
}